<a href="https://github.com/briandu">{{fa-icon "github-alt"}}</a>
<a href="https://dribbble.com/briandu">{{fa-icon "dribbble"}}</a>
<a href="https://www.linkedin.com/in/brianbhdu/">{{fa-icon "linkedin"}}</a>
