<section>
  <div class="project-selector">
    <div class="project-title">
      <h1>Prelook</h1>
      <h4>UI/UX</h4>
    </div>
    <div class="project-title">
      <h1>Achievers Lab</h1>
      <h4>UI/UX</h4>
    </div>
    <div class="project-title">
      <h1>Prelook</h1>
      <h4>UI/UX</h4>
    </div>
    <div class="project-title">
      <h1>8-Bit Bird</h1>
      <h4>UI/UX</h4>
    </div>
    <div class="project-title">
      <h1>Isometric</h1>
      <h4>UI/UX</h4>
    </div>
    <div class="project-title">
      <h1>Design Challenge</h1>
      <h4>UI/UX</h4>
    </div>
  </div>
  <div class="project-preview"></div>
</section>
