<section>
  <div class="project-container">
    <div class="project-type-tab">
      <h5>ALL</h5>
      <h5>FRONT-END</h5>
      <h5>UI/UX</h5>
      <h5>ARTWORK</h5>
      <h5>PHOTO</h5>
    </div>
    <div class="project-selector-wrapper">
      <div class="project-selector">
        <div class="project-title">
          <h1>Prelook</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>Achievers Lab</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>Prelook</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>8-Bit Bird</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>Isometric</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>Design Challenge</h1>
          <h4>UI/UX</h4>
        </div>
        <div class="project-title">
          <h1>Zoocasa</h1>
          <h4>FRONT-END</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="project-preview"></div>
</section>
