& {
  position: absolute;
  width: 100%;
  margin-top: 60px;

  nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    > img {
      position: absolute;
      left: 70px;
      width: 30px;
    }

    ul {
      padding-left: 0;
      margin: 0;
      list-style-type: none;

      li {
        font-size: 14px;
        display: inline-block;
        padding: 0 25px;
        letter-spacing: 1px;

        a {
          text-decoration: none;
        }
      }

      li:first-child {
        padding-left: 0;
      }
    }
  }
}
