<nav>
  <img src="assets/images/logo-brian.svg">
  <ul>
    <li>{{#link-to "home" }}HOME{{/link-to}}</li>
    <li>{{#link-to "projects" }}PROJECTS{{/link-to}}</li>
    <li>{{#link-to "about" }}ABOUT{{/link-to}}</li>
  </ul>
  {{get-in-touch}}
</nav>
