// White
$color-white:            #fff;
$color-white-25:         rgba($color-white, .25);
$color-white-30:         rgba($color-white, .30);
$color-white-75:         rgba($color-white, .75);
$color-white-90:         rgba($color-white, .90);
$color-white-95:         rgba($color-white, .95);

// Blacks
$color-black:            #000;
$color-black-25:         rgba($color-black, .25);
$color-black-35:         rgba($color-black, .35);
$color-black-50:         rgba($color-black, .5);
$color-black-65:         rgba($color-black, .65);
$color-black-75:         rgba($color-black, .75);
$color-black-80:         rgba($color-black, .80);
$color-black-90:         rgba($color-black, .90);
